@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */

/*iPad landscape*/
html, body {
  
    background-image:url('../img/BG/ipad-landscape-2x.png');
    height:100%;
}

header {
	background-color:gray;
    
}

header .logo {
	font-family: 'Oswald', sans-serif;
	font-size: 28px;
	text-align: center;
}


.sideNav {
background-color: #26262b;
color:white;
float:left;
width:25%;
position:relative;
min-height: 100%;

}

.content {
background-color: white;
width:75%;
position:relative;
float:right;
height:100%;
}


footer {
position: fixed;
bottom:0;
color:white;
background-color: green;
width:100%;
}

}
